<h2 class='text-center'>나만의 동물 사전</h2>
<form action="/animal/write" method="POST">
  동물 이름 : <input type="text" name="title" class="form-control"/><br/>
  동물 특징 : <textarea name="content" class="form-control" rows="7" cols="120"></textarea>
  <div class="container mt-3">
 <button type="submit" class="btn btn-info float-right">새로운 동물 등록하기</button>
  </div>
</form>